---
layout: default
---



{% assign books=site.books %}

<h2>{{page.list_title | default: "Books" }}</h2>

{{ content }}

{% if books.size > 0 %}

  {% for book in books reversed %}
      {% assign currentdate = book.date | date: "%Y" %}
      {% if currentdate != date %}
      {% unless forloop.first %}</ul>{% endunless %}
       <h1 id="y{{book.date | date: "%Y"}}">Reviewed in {{ currentdate }}</h1>

     <ul>
     {% assign date = currentdate %}
     {% endif %}

    {% if book.status == "Finished" %}
    <li>
      <a href="{{ book.url | relative_url }}">
      <strong>{{ book.title }},</strong> <em>{{ book.author | default: book.editor }}</em>
      </a>
    </li>
    {% endif %}

  {% if forloop.last %}</ul>{% endif %}
{% endfor %}

<h1>Reviews on Deck</h1>
<ul>
  {% for book in books %}
    {% if book.status == "Queued" %}
      <li>
        <a href="{{ book.url | relative_url }}">
          <strong>{{ book.title }},</strong> <em>{{ book.author | default: book.editor }}</em>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>


{% endif %}

<style>
  figure {
    display: inline-block;
    text-align: center;
    margin: 8px; /* adjust as needed */

  }

  figure img {
    vertical-align: bottom;

  }

  .reading{
    font-family: monospace;
    color: #23212D;
    text-transform: uppercase;
    background-color: #f89406;

  }

  .finished{
    font-family: monospace;
    color: #23212D;
    text-transform: uppercase;
    background-color: #62c462;

  }


  .queued{
    font-family: monospace;
    color: #23212D;
    text-transform: uppercase;
    background-color: #9e76b5;

  }

  .abandoned{
    font-family: monospace;
    color: #23212D;
    text-transform: uppercase;
    background-color: #ee5f5b;

  }

  .interested{
    font-family: monospace;
    color: #23212D;
    text-transform: uppercase;
    background-color: #7691db;

  }

  .uncategorized{
    font-family: monospace;
    color: #23212D;
    text-transform: uppercase;
    background-color: #b0abb3;

  }

  /* mouse over link */
a:hover {
  color: #23212D;
}

  }
</style>
